body {
  margin: 0;
  height: 100vh;
    font-family: 'Arima', cursive;
font-family: 'Edu VIC WA NT Beginner', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: #212529;
 color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
